langchain
langchain_openai
langchain_core
langchain_community
python-dotenv
ipykernel
faiss-cpu
Pillow
langchain-huggingface
bs4
huggingface_hub
pandas
streamlit
datasets
diffusers
accelerate
torchvision
flask
pytesseract
langchain_groq